<div class="statistics">

  <div class="stat-card" (click)="onCardClick('clientes')">
    <h3>Total de Clientes</h3>
  </div>



  <div class="stat-card" (click)="onCardClick('edad')">
    <h3>Promedio de Edad</h3>
  </div>


  <div class="stat-card" (click)="onCardClick('genero')">
    <h3>Distribución por Género</h3>
  </div>


  <div class="stat-card" (click)="onCardClick('ciudad')">
    <h3>Distribución por Ciudad</h3>
  </div>


  <div class="stat-card" (click)="onCardClick('pais')">
    <h3>Distribución por País</h3>
  </div>


  <div class="stat-card" (click)="onCardClick('telefono')">
    <h3>Distribución por Teléfono (por prefijo)</h3>
  </div>
</div>


<canvas *ngIf="selectedCard === 'clientes'" baseChart
        [datasets]="clientesChartData.datasets"
        [labels]="clientesChartData.labels"
        [options]="chartOptionsPie"
        [legend]="chartLegend"
        chartType="pie">
</canvas>


<canvas *ngIf="selectedCard === 'edad'" baseChart
        [datasets]="edadChartData.datasets"
        [labels]="edadChartData.labels"
        [options]="chartOptionsBar"
        [legend]="chartLegend"
        chartType="bar">
</canvas>


<canvas *ngIf="selectedCard === 'genero'" baseChart
        [datasets]="generoChartData.datasets"
        [labels]="generoChartData.labels"
        [options]="chartOptionsPie"
        [legend]="chartLegend"
        chartType="pie">
</canvas>

<canvas *ngIf="selectedCard === 'ciudad'" baseChart
        [datasets]="ciudadChartData.datasets"
        [labels]="ciudadChartData.labels"
        [options]="chartOptionsBar"
        [legend]="chartLegend"
        chartType="bar">
</canvas>


<canvas *ngIf="selectedCard === 'pais'" baseChart
        [datasets]="paisChartData.datasets"
        [labels]="paisChartData.labels"
        [options]="chartOptionsBar"
        [legend]="chartLegend"
        chartType="bar">
</canvas>


<canvas *ngIf="selectedCard === 'telefono'" baseChart
        [datasets]="telefonoChartData.datasets"
        [labels]="telefonoChartData.labels"
        [options]="chartOptionsPie"
        [legend]="chartLegend"
        chartType="pie">
</canvas>
